#background {
    background-image: url("https://cdn.statically.io/img/wallpaperaccess.com/full/137980.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}

#mainview {
    margin-top: 20px !important;
    height: auto;
    width: auto;
}

#homespace {
    margin-top: 20px !important;
}

.container-fluid {
    height: 100vh;
}
